* {
  margin: 0;
  padding: 0;
}
a {
  color: #E93854;
  text-decoration: none;
}
.head {
  width: 990px;
  height: 80px;
  margin: 0 auto;
}
.head img,
span {
  float: left;
}
.head img {
  margin-top: 10px;
}
.head span {
  margin-top: 30px;
  font-size: 25px;
}
.body1 {
  width: 100%;
  height: 475px;
  background-color: #E93854;
}
.body2 {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  background: url(../img/banner.png) no-repeat 0px 0px;
}
.body3 {
  width: 300px;
  height: 300px;
  float: right;
  background-color: #ffffff;
  margin-top: 50px;
  padding: 15px;
}
.box1 {
  width: 100%;
  height: 40px;
}
.box1 p {
  float: left;
  font-size: 22px;
  color: #999;
}
.box1 a {
  float: right;
  margin-top: 10px;
  padding-left: 15px;
  background: url(../img/login-icons_09.png) no-repeat 0px 5px;
}
.box2 {
  width: 100%;
  height: 140px;
  margin-top: 10px;
}
.box2 .first {
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #999999;
  background: url(../img/login-icons_01.png) no-repeat 0px 0px;
}
.box2 .second {
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #999999;
  background: url(../img/login-icons_02.png) no-repeat 0px 0px;
}
.box2 input {
  width: 250px;
  height: 39px;
  float: left;
  margin-bottom: 20px;
}
.box3 input,
.box3 label {
  float: left;
}
.box3 input {
  margin-top: 5px;
}
.box3 a {
  float: right;
  margin-top: 5px;
}
.box4 {
  width: 100%;
  height: 32px;
  padding-top: 3px;
  text-align: center;
  font-size: 22px;
  background-color: #E93854;
  margin-top: 60px;
}
.box4 a {
  color: #FFFFFF;
}
